{
  "workbench.colorCustomizations": {
    "terminal.foreground": "#d9ff00",
    "terminal.background": "#000080"
},
"terminal.integrated.profiles.{{ SYSTEM }}": {
  "amstrad": {
      "path": "amsdos",
      "args": [
          "${workspaceFolder}"
      ],
      "icon": "terminal-bash"
  }
},
"terminal.integrated.defaultProfile.{{ SYSTEM }}": "amstrad",
"terminal.integrated.fontSize": 13
}